<!--<nav class="navbar navbar-default navbar-static-top navbar-inverse" id="navbar">-->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '430642067125422',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<nav class="navbar navbar-default navbar-static-top navbar-inverse navbar-fixed-top" id="navbar">
  <div class="container-fluid">
      <div navbar-header>
         <a class="navbar-brand" href="/">No Closed Class</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li class="active">
              <button type="button" class="btn btn-default navbar-btn" id="Home" style="margin-top:9px">
                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
              </button>
          </li>
          <li>
              <button type="button" class="btn btn-default navbar-btn" id="Logout" style="margin-top:9px; margin-left:2px">
                <a href="/account"><span class="glyphicon glyphicon-user" style="margin-right:5px"></span>Account</a>
              </button>
          </li>
        </ul>
        <ul class="nav nav-pills pull-right"> 
            <li>
                <button type="button" class="btn btn-default navbar-btn" id="faq" style="margin-top:9px">
                    <a href='/faq'>
                    <span class="glyphicon glyphicon-question-sign"></span>
                        FAQ
                    </a>    
                </button>
            
            </li>
            <li>
                <button type="button" class="btn btn-default navbar-btn" id="Support" style="margin-top:9px">
                    <a class="mailto" href='mailto:kenneth@noclosedclass.com?subject=Support'>
                    <span class="glyphicon glyphicon-envelope"></span>
                        Support
                    </a>    
                </button>
            </li>
            <li>
                <button type="button" class="btn btn-default navbar-btn" id="Logout" style="margin-top:9px">
                    <a href="/logout" id="logStatus"><span class="glyphicon glyphicon-log-out" style="margin-right:5px"></span>Log out</a>
                    <script>
                        $(document).ready(function(){
                            var item = document.getElementById("logStatus");
                            $.get("/userData",function(data){
                                userData = data;
                                if(userData != ""){
                                    item.innerHTML = '<span class="glyphicon glyphicon-log-out" style="margin-right:5px"></span>Log out';
                                    item.href = "/logout"
                                }
                                else{
                                    item.innerHTML = '<span class="glyphicon glyphicon-log-in" style="margin-right:5px"></span>Log in';
                                    item.href = "/login" 
                                }
                            }).fail(function(e) {
                                console.log( "error" + e );
                              })
                        })
                    </script>
                </button>
            </li>
        </ul>
   </div>
  </div>
</nav>
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>