<!DOCTYPE html>
<html>
    <head>
      <% include ../partials/header.ejs %>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
        
            <br>
        <div class="tableForClassesSignedUp">
            <div class="classesSignedUpFor" style="margin-right:8px">
         <button id="buttonToDeleteClasses">
            Delete Selected Class
         </button>
        <table id="tableForAlreadySignedUp" cellspacing="0">
            <caption>Classes you are currently signed up to get texts for:</caption>
            <thead>
                <tr>
                    <th>Institution</th><th>Session</th><th>Department</th><th>Class number </th><th>Class Section</th><th>Have you been texted for this class?</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Institution</th><th>Session</th><th>Department</th><th>Class number </th><th>Class Section</th><th>Have you been texted for this class?</th>
                </tr>
            </tfoot>
            <tbody>

            </tbody>
        </table>
    </div>
            
            </div>
        
    </body>
</html>