<!doctype html>
<html lang="en" class="no-js">
<head>
    <% include ../partials/header.ejs %>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/style.css"> <!-- Resource style -->
    <script src="javascript/faq.js"></script> <!-- Resource jQuery -->
</head>
<body>
    <% include ../partials/nav.ejs %>
<section class="cd-faq" style="margin-top:80px;">
	<ul class="cd-faq-categories">
		<li><a class="selected" href="#basics">Basics</a></li>
		<li><a href="#Support">Support</a></li>
		<li><a href="#account">Account</a></li>
		<li><a href="#Whys">Whys</a></li>
		<li><a href="#Miscellaneous">Miscellaneous</a></li>
	</ul> <!-- cd-faq-categories -->

	<div class="cd-faq-items">
		<ul id="basics" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Basics</h2></li>
            <li>
				<a class="cd-faq-trigger" href="#0">What is the point of this site</a>
				<div class="cd-faq-content">
					<p>To have an alternative for finding classes, and to allow users to get texted when a class of their choice gets opened up.</p>
				</div> <!-- cd-faq-content -->
			</li>
            <li>
                <a class="cd-faq-trigger" href="#0">Why do I need to put my service provider</a>
				<div class="cd-faq-content">
					<p>I use your service provider so that I can send you a free text through email, if your interested read more <a href="http://20somethingfinance.com/how-to-send-text-messages-sms-via-email-for-free/">here</a></p>
				</div> 
            </li>
		</ul> <!-- cd-faq-group -->

		<ul id="Support" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Support</h2></li>
            <li>
                <a class="cd-faq-trigger" href="#0">How can I help with this site</a>
                <div class="cd-faq-content">
                    <p>The first and most important thing you can do to help me keep a free and continiously developed site, is to donate, I'm not asking for a lot, just to help cover my costs, about 115$/year.<br></p><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHPwYJKoZIhvcNAQcEoIIHMDCCBywCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAo2thCVp0mvAT/8B7rbmmdXcMliPlzVsdAxdLPDjMtFrTQfReKqbtLN/5eg0KuLlbm/A+3bB4/b/Nxt9hT+CL/3uZFiHsLgOZ0/ziaS0z/ptdLNk2qkN4SOgYoUKIYBJCjSX1oJaMIr/1rwjpuCcapbprfRMc5mF0Sj9n/CpKWODELMAkGBSsOAwIaBQAwgbwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQINTuWloFY5uWAgZhoC95coJkaxxx/GuvdW6yIBrbDbQgEfN+3RfewtWD1P+PrJspkj2eiNmb1/98d7NRy6Zc/yttdEOTenQKNoa22l5a9n468Y1AmX6EcW23rF8Ntr1Oqq7G/Vr+3t/kMi6x0RW4rcGGJ/k7vfqc+FGNMKGOgYagVMtN0YAhs8yyNfJHbRnPjEIYO571xVxd/Xb9ixOGqWLZ4U6CCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTE1MTExOTAxMTE1N1owIwYJKoZIhvcNAQkEMRYEFLABFLWA/ZlsuTsq98tHpa4Q7tDgMA0GCSqGSIb3DQEBAQUABIGAXnDzUP1/yKInJpOtLOghrpLRJ4ECKcC6fotWq9o4Uj1ThIk0Kz6YGhIaQE7t/tX1NuQaA+LbA6+0rucKSigr9tZABhHAwc9hZr62duHuCUPOISvvsDRFcfQ4GiD/Os7r1MBwOeecAO8LMOctNuOWIDa3V5gK0TPk2kJYn+H87aY=-----END PKCS7-----
">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
				</div> <!-- cd-faq-content -->
            </li>
            <li>
                <a class="cd-faq-trigger" href="#0">Can I help with development?</a>
				<div class="cd-faq-content">
					<p>Currently, I am not looking for any developers to help me, but am always willing to listen. If you are a UI(user experience) person, who can help me design this website, please reach out with the support button up top. </p><img src="/images/Support.png">
				</div>
            </li>
            <li>
                <a class="cd-faq-trigger" href="#0">The dropdowns/table won't load?</a>
				<div class="cd-faq-content">
					<p>Theres a chance that there isn't any current information or email support.</p>
				</div>
            </li>
            <li>
                <a class="cd-faq-trigger" href="#0">I found a bug/something didn't go right, what to do?</a>
				<div class="cd-faq-content">
					<p>Please contact me using the support button up top and let me know whats going on, I'll fix the issue as soon as I get a chance.</p><img src="/images/Support.png">
				</div>
            </li>
            <li>
                <a class="cd-faq-trigger" href="#0">I didn't get texted, what happened?</a>
				<div class="cd-faq-content">
					<p>There are a couple of options:
                        <ul>
                            <li>1. The class never opened</li>
                            <li>2. The class opened for such a short time frame, that it wasn't registered in the system.</li>
                            <li>3. You weren't signed up to get a text for that class</li>
                            <li>4. There is a bug in the system, please contact support<img src="/images/Support.png"></li>
                        </ul>
                    </p>
				</div>
            </li>
		</ul> <!-- cd-faq-group -->

		<ul id="account" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Account</h2></li>
		</ul> <!-- cd-faq-group -->

		<ul id="Whys" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Whys</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">Why did my PayPal donation fail?</a>
				<div class="cd-faq-content">
					<p>I'm not exactly sure, and would love to help, can you please send me an email using the support button up top </p><img src="/images/Support.png">
				</div> <!-- cd-faq-content -->
			</li>
            <li class="cd-faq-title"><h2>Whys</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">Why are buttons disabled/unclickable?</a>
				<div class="cd-faq-content">
                    <p>At each step, there is validation to make sure you are actually compleating the forms correctly, if you think there is a mistake, don't hestiate to reach out to support.</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="Miscellaneous" class="cd-faq-group">
            <li class="cd-faq-title"><h2>Miscellaneous</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">What are some upcoming features?</a>
				<div class="cd-faq-content">
                    <p>There are a couple in development:
                        <ul>
                            <li>1. Better user interface</li>
                            <li>2. A scheduler, to make picking a schedule before signing up easier</li>
                            <li>3. And many more that I want to get around to!</li>
                        </ul>
                    </p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->
	</div> <!-- cd-faq-items -->
	<a href="#0" class="cd-close-panel">Close</a>
</section> <!-- cd-faq -->
</body>
</html>