<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
<!-- Setting the right viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
    <% include ../partials/nav.ejs %>
            <br>
    <div class="wrap" style="margin:auto;">
        <div style="margin:auto; margin-left:20px; margin-top:80px;">
<<<<<<< HEAD
            <p id="testing">To add a new class, pick your institution and session. </p><br>
=======
            <p>These dropdowns take time to load. Thank you for your patience.</p>
            <br>
            <p id="testing">To add a new class, wait for the institution dropdown to load and pick your institution. </p><br>
>>>>>>> 49911803f4eda8b5cbb1a256c33feccceba57c93
            <div style="margin: auto;">
                <select id="inst" default="pick an institution and session">
                    <option value="defualt" selected="selected">
                        Pick an institution
                    </option>
                </select>
                
                <p>Last, fill out your phone number and provider.</p><br>
                
                <input type="text" placeholder="10 Digit phone number" id="you_phone_nbr">
                <select id="carrier" default="pick a carrier">
                    <option value="defualt" selected="selected">
                        Pick A Carrier
                    </option>
                </select>
                
                <img src="/images/ajax-loader.gif" id="ajax-loader" style="display:none">
                <p> and/or email</p>
                <br><input type="text" id="emailInput" name="email" placeholder="youremail@domain.com"><br>
                <p>Contact you through: </p><br>
                <div class="example">
                   <form>
                        <input id="radio1" type="radio" name="radio" value="text" checked="checked"><label for="radio1"><span><span></span></span>Text</label>
                        <input id="radio2" type="radio" name="radio" value="email"><label for="radio2"><span><span></span></span>Email</label>
                        <input id="radio3" type="radio" name="radio" value="both"><label for="radio3"><span><span></span></span>Both</label>
                  </form>
                </div>
                </div>
                <div class="SubmitButton">
                    <button type="button" id="submitData" style="margin-bottom: 12px;">Get Classes!</button>
                </div>
            </div>
            <p>When you finished filling out the forms, select the classes with your mouse, and click "Get Class!"</p><br>
            <p>Beware that some of the data in this table may be a couple hours old, we try and keep it as updated as possible and will fix the lag in the future.</p><br>
        </div>
    </div>
    <div>
    </div>
        <div class="tableHolder">
<<<<<<< HEAD
            <table id="dataTables" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Class nbr </th><th>Class Section</th><th>Teacher</th>
=======
            <table id="dataTables" cellspacing="0">
                <thead>
                    <tr>
                        <th>Class nbr </th><th>Class Section</th><th>Teacher</th><th>Status</th>
>>>>>>> 49911803f4eda8b5cbb1a256c33feccceba57c93
                        <th>Days and Time</th><th>Room</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
<<<<<<< HEAD
                        <th></th>
                         <th>Class nbr </th><th>Class section</th><th>Teacher</th><th>Days and Time</th><th>Room</th>
                    </tr>
                </tfoot>
=======
                        <th>Class nbr </th><th>Class section</th><th>Teacher</th><th>Status</th><th>Days and Time</th><th>Room</th>
                    </tr>
                </tfoot>
                <tbody>
                </tbody>
>>>>>>> 49911803f4eda8b5cbb1a256c33feccceba57c93
            </table>
        </div>
    </div>
    <div style="margin: auto;text-align: center">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- leaderboard ad -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px;"
             data-ad-client="ca-pub-6625985610418162"
             data-ad-slot="9430096730"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</body>
</html>
<script>
</script>