<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
<!-- Setting the right viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
    
  <% include ../partials/nav.ejs %>
    
     <div class="classesSignedUpFor" style="margin-right:8px">
         <button id="buttonToDeleteClasses">
            Delete Selected Class
         </button>
        <table id="tableForAlreadySignedUp" cellspacing="0">
            <caption>Classes you are currently signed up to get texts for:</caption>
            <thead>
                <tr>
                    <th>Institution</th><th>Session</th><th>Department</th><th>Class number </th><th>Class Section</th><th>Have you been texted for this class?</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Institution</th><th>Session</th><th>Department</th><th>Class number </th><th>Class Section</th><th>Have you been texted for this class?</th>
                </tr>
            </tfoot>
            <tbody>

            </tbody>
        </table>
    </div>
    <div class="wrap">
        <div>
            <p style="margin-left:20px; margin-top:60px;">These dropdowns take time to load. Thank you for your patience.</p>
            <p style="margin-left:20px" id="testing">To add a new class, fill out dropdowns, click on your class/classes, enter your phone number and provider and wait to get texted: </p>
            <div style="margin-left:20px">
                <select id="inst" default="pick a carrier">
                    <option value="defualt" selected="selected">
                        Pick an institution
                    </option>
                </select>
                <select id="session" default="pick a carrier">
                    <option value="defualt" selected="selected">
                        Pick a session
                    </option>
                </select>
                <select id="dept" default="pick a carrier">
                    <option value="defualt" selected="selected">
                        Pick a department
                    </option>
                </select>
                <div class="checkbox checkbox-primary">
                  <input id="deltedWhenTexted" type="checkbox" checked>
                    Delete my class when I've been texted/e-mailed. <a href="/FAQ#DeleteMyClassCheckbox">(What does this mean)</a>
                </div>
                <input type="text" placeholder="10 Digit phone number" id="you_phone_nbr">
                <select id="carrier" default="pick a carrier">
                    <option value="defualt" selected="selected">
                        Pick A Carrier
                    </option>
                </select>
                <button type="button" id="submitData">Get Classes!</button>
            </div>
            <div>
                <!--
                <div style="overflow:scroll; height:400px;">
                    <table id="myTable" style="width:90%" border="1" data-toggle="table">
                        <thead>
                            <tr>
                                <th>Class nbr </th><th>Class section</th><th>Teacher</th><th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">

                        </tbody>
                    </table>
                </div>-->
                <div class="tableHolder" style="margin-left:10px">
                    <table id="dataTables" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Class nbr </th><th>Class Section</th><th>Teacher</th><th>Status</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Class nbr </th><th>Class section</th><th>Teacher</th><th>Status</th>
                            </tr>
                        </tfoot>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>